* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

html,
* {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  cursor: pointer;
  border: none;
  background: none;
}

[type="button"] {
  cursor: pointer;
}
